body {
	background-color: #888888; 

}

div.info{
	background-color: #888888;
	overflow:auto;
	background-color: #bbbcbc;
	margin-left: 266px;
	margin-top: 100px;
}

div.submaster{
	padding: 10px;
	float: left;
}


div.master{
	background-color: #bbbcbc;
	height: auto;
	float:left;
	font-size: 22px; 
	padding: 10px;
}

img.hell{
	width: 400px;
	border-style: solid;
	
}

div.headpan {
  position: fixed;
  background-color: #666;
  width: 100%;
  height: 70px;
  top: 0px;
  text-align: center;
  font-size: 15px;
  color: white;
  padding-top: 1px;
  padding-bottom: 35px;
}

div.headpanin {
  display: inline-block;
  width: 28%;
  height: 70px;
  top: 0px;
  font-size: 15px;
  color: white;
  margin: 1px 10px 35px 10px;
}

div.navpan {
  position: fixed;
  float: left;
  width: 250px;
  height: 100%;
  background-color: #ccc;
  margin-top: 6px;
  padding-left: 16px;
  font-size: 20px; 
}

@media (max-width: 900px) {
  div.navpan, div.headpan {
    width: 100%;
	height: auto;
    position: absolute;
	margin: auto;
	position: static;
  }
  div.info{
	margin: auto;
	position: static;
  }
}

footer {
  background-color: #777;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;
  float: bottom;
  text-align: center;
  color: white;
}

iframe {
	width: 80%;
	height: 95%;
	border-style: none;

}